<div class="search-ribbon">
    <form method="GET" action="search">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input query-input" type="text" id="query" name="q">
            <label class="mdl-textfield__label" for="query">What</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input query-input" type="text" id="query" name="l">
            <label class="mdl-textfield__label" for="query">Where</label>
        </div>
        <button type="submit"
            class="mdl-button query-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Find Jobs
        </button>
    </form>
</div>